a{
  color: #d95f5f !important; 
  text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 15px;
    margin: 10px;
    border: 1px solid #d95f5f;
     color: #d95f5f !important; 
  text-decoration: none;
}
.pagination a:hover{
   color: #fff !important;
    background: #d95f5f;
}
.paginationLink {
    font-weight: bold;
}

.pagination-link-active a {
    color: #fff !important;
    background: #d95f5f;
}

.paginationLinkDisabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}

